navbar {
    margin: auto;
    padding:25px;
    text-align: center;
}

center {
    text-align: center;
    margin: auto;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    min-height: 360px;
  }
